apiVersion: apps/v1
kind: DaemonSet

metadata:
  labels:
    app: nrpc
  name: nrpc
  namespace: domino

spec:
  selector:
    matchLabels:
      app: nrpc

  template:
    metadata:
      labels:
        app: nrpc

    spec:
      containers:
      - env:
        - name: LANG
          value: en_US.UTF-8
        - name: NGINX_REPLACE_DOTS
          value: "on"
        - name: NGINX_MAP_DEFAULT
          value: $nrpc_preread_server_name.domino.svc.cluster.local
        image: nashcom/domino:nrpc
        imagePullPolicy: Always
        name: nrpc
        ports:
        - containerPort: 1352
          hostPort: 1352
          protocol: TCP
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
      imagePullSecrets:
      - name: regcred
      restartPolicy: Always
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        runAsNonRoot: true
        runAsUser: 1000
      terminationGracePeriodSeconds: 5

---

apiVersion: v1
kind: Service
metadata:
  name: domino-nrpc-lb
  namespace: domino
  annotations:
    metallb.io/allow-shared-ip: "nginx-shared"
spec:
  type: LoadBalancer
  loadBalancerIP: 194.164.207.70
  selector:
    app: nrpc 
  ports:
    - name: nrpc 
      port: 1352 
      targetPort: 1352 
      protocol: TCP

  externalTrafficPolicy: Cluster # Local


