apiVersion: batch/v1
kind: Job
metadata:
  name: cube-test-job
  namespace: default
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: test
        image: alpine
        command:
          - /bin/sh
          - -c
          - |
            echo "Hello from cube-control";
            date;
            sleep 5;
            echo "Job completed."
